body {
    text-align: center;
    background-color: rgb(61, 61, 61);
}

h1,
h2 {
    font-family: 'Poiret One', cursive;
    color: rgb(255, 255, 255);
    vertical-align: middle;
}

div {
    font-family: 'Raleway', sans-serif;
    color: white;
    vertical-align: middle;
}

#sidebar {
    height: 1000px;
    vertical-align: middle;
}
/*smugglerFlynn recommends this: http://stackoverflow.com/questions/20721248/best-way-to-override-bootstrap-css*/
/*does not work on background color*/
#game-container {
    background-color: rgb(71, 70, 71) !important;
    /*important did not work*/
    overflow: hidden;
    vertical-align: middle;
}

.row {
    display: flex;
}

.column {
    display: flex;
    width: 50%;
    align-items: center;
}

#talks p {
    animation-duration: 3s;
    animation-name: slidein;
    color: red;
}
/*adapted from https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations*/

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 30%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
